@keyframes skipFadeIn {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }
}

@keyframes skipFadeOut {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(100%, -100%, 0);
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}